.logo-boolean{
    display: flex;
}

.logo-boolean img{
    margin-inline: 0.7rem;
}

.icon-navtop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-navtop i{
    margin-inline: 0.7rem;
}

/* MAIN CONTENT */
/* .side-container{
    width: 500px;
} */

.bg-side-left {
    height: calc(100vh - 54px);
    background-color: rgb(11, 35, 57);
    background-image: url(../img/sidebar-bg.png);
}

.nav-pills li a:hover{
    background-color: rgba(211, 211, 211, 0.514);
    border-radius: 0%;
}

.main-content {
    width: calc(100% - 130px);
    background-color: lightgrey;
    overflow-y: auto;
}

.table tbody img {
    height: 1.6em;
}
  
  
  
  
  