.logo-boolean{
    display: flex;
}

.logo-boolean img{
    margin-inline: 0.7rem;
}

.icon-navtop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-navtop i{
    margin-inline: 0.7rem;
}

/* MAIN CONTENT */
.sidebar {
    height: calc(100vh - 54px);
    background-color: rgb(11, 35, 57);
    background-image: url(../img/sidebar-bg.png);
}

.nav-pills li a:hover{
    background-color: aqua;
}

  
  
  
  
  